.git
.gitignore
.github
node_modules
npm-debug.log
README.md
.editorconfig
.env
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
.DS_Store
.vscode
.idea
.env.testing
.env.docker
docker-compose.yml
Dockerfile
docker/
.php-cs-fixer.cache
